

@media screen and (max-width: 1440px) {
	#sidebar-image {
		position: relative;
		left: 200px;
	}
}


@media screen and (max-height: 900) {
	#sidebar-image {
		position: relative;
		top: 450px;
	}

	#arrow1 {
		position: relative;
		top: 80px;
	}

	#about-page {
		position: relative;
		top: 600px;
	}

	#portfolios {
		top: 100px;
	}

	#portfolio-options{
		top: 288px;
	}

	.option-button {
		height: 550px;
	}

	.portfolio-image {
		margin-top: 75px;
	}

	#homepage-navbar {
		top:500px;
	}

	#aboutstuff {
		top: 400px;
	}
}




